HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_API_KEY=tobemodified
# --- SENDGRID ---
SENDGRID_API_KEY=SG.your_very_long_api_key_from_sendgrid
SENDGRID_DEFAULT_FROM=noreply@yourdomain.com
SENDGRID_DEFAULT_REPLY_TO=noreply@yourdomain.com